body {
  background-color: #000;
}

.n-header {
  color: #e2e2e2;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 64px;
  padding-top: 100px;
}

.n-id-text {
  color: white;
  font-family: "Major Mono Display", monospace;
  font-size: 24px;
}

.n-unset {
  all: unset;
}

.n-input {
  width: 3em;
  text-align: left;
}

.n-credit-text {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 100;
  padding-top: 100px;
}
